In [1]:
#Import Libraries
import pandas as pd
pd.set_option('display.max_rows', None)
import warnings
warnings.simplefilter(action='ignore', category=UserWarning)

In [2]:
#Automated code to extract and transform data from multiple sheets to regular format for power bi.
f = pd.ExcelFile('Attendance Sheet 2022-2023_Masked.xlsx')

dfs = [] 

for sheet in f.sheet_names:  
    df = f.parse(sheet)  
    dfs.append(df)
       
key=dfs[3].copy()  # extracting attendance key sheet

#extracting first 3 sheets data
newdf=pd.DataFrame(columns=['Employee Code','Name','Date','Value'])
for i in range(3):
    df=dfs[i]
    print('************************************************','Sheet',i,'******************************************************************')
    new_header = df.iloc[0]
    df=df[1:]
    df.columns=new_header
    df= df.reset_index()
    df_unpivot = pd.melt(df, id_vars=['Employee Code','Name'], value_vars=df.iloc[:,2:],
                       var_name='Date', value_name='Value')
    dfresult = df_unpivot.dropna()
    dfresult=dfresult.reset_index()
    dfresult.drop(dfresult[dfresult['Date'].str.len() <=4].index, inplace = True)
    dfresult['Date']=pd.to_datetime(dfresult.Date)
    dfresult=dfresult.drop(['index'],axis=1)
    newdf = pd.concat([newdf, dfresult],ignore_index = True)

************************************************ Sheet 0 ******************************************************************
************************************************ Sheet 1 ******************************************************************
************************************************ Sheet 2 ******************************************************************

In [3]:
newdf.head()

  Employee Code             Name       Date Value
0      Atq -406    Thanos Thakur 2022-06-01     P
1      Atq -462     Jarvis Singh 2022-06-01     P
2      Atq -411    Nevaeh Waller 2022-06-01     P
3      Atq -398       Bo Cordova 2022-06-01    SL
4      Atq -438  Mekhi Singleton 2022-06-01     P

In [4]:
newdf.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6492 entries, 0 to 6491
Data columns (total 4 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Employee Code  6492 non-null   object
 1   Name           6492 non-null   object
 2   Date           6492 non-null   datetime64[ns]
 3   Value          6492 non-null   object
dtypes: datetime64[ns](1), object(3)
memory usage: 203.0+ KB

In [5]:
newdf['Date']=pd.to_datetime(newdf.Date)
newdf['Date'] =newdf['Date'].dt.date

In [7]:
newdf.to_excel('Final Data.xlsx',index=False)